In [5]:
test  = "test"
id(test)

4338945648

In [9]:
test2=test
id(test2)
test="ArithmeticError"
id(test)

4335011888

In [7]:
pi=22/7

principal_amount=100
rate_of_interest=3
time=4

simple_interest=principal_amount*rate_of_interest*time/100

simple_interest

12.0

In [53]:
first_name="Senthil"
last_name="KumAr"
full_name=f"{first_name} {last_name}"
print(full_name)
full_name[-1]

Senthil KumAr

'r'

In [108]:
a = int(input("enter your lucky number"))

message = "this is even number" if a % 2 ==0 else "this is even number"

print(message)

this is even number

In [84]:
sris_mark = [10,20,30,40,50,60,70,80,90,100,200,300,400,450,500,600,700,800]

senthil_mark = [10,20,30,40,50,65,70,80,90,100,200,300,400,450]

def find_total(marks):
    total = 0
    for mark in marks:
        total+=mark
    return total

print(f"senthil's total mark "+str(find_total(sris_mark)))

senthil's total mark 900

In [83]:
my_sentence="I am learning Python from CodeBasics."

def reversed_sentence(sentences):
    word_list=[]
    for sentence in sentences.split(" "):
        word_list.append(sentence)
    
    word_list.reverse()
    new_list=" ".join(word_list)
    return new_list

rev_list=reversed_sentence(my_sentence)


print(rev_list)

CodeBasics. from Python learning am I

In [23]:
friend_list = "senthil","kumar","ram", "rajkamal", "kannan"

def tuple_example(friend_list):
    new_list=[]
    for friend in friend_list:
        new_friend_list = (friend, len(friend))
        new_list.append(new_friend_list)
    return new_list

new_list = tuple_example(friend_list)

new_list

[('senthil', 7), ('kumar', 5), ('ram', 3), ('rajkamal', 8), ('kannan', 6)]

In [62]:
f = open("/Users/senthil/Desktop/Senthil/myTesting/python_basics/student_marks.csv", "r")

In [90]:
f.read()

f.seek(0)
keys = f.readline()
keys

'Gender,DOB,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics\n'

In [91]:
keys = keys.split(",")
keys[-1] = keys[-1][:-1]
keys

['Gender',
 'DOB',
 'Maths',
 'Physics',
 'Chemistry',
 'English',
 'Biology',
 'Economics',
 'History',
 'Civics']